PORT=3003
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.juaxululyelhiwfjsadc:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
SUPABASE_URL ="" /* URL de Supabase */
DATABASE_KEY="" /* Esta es la clave pública, que se puede usar en el cliente */
DATABASE_ADMIN_KEY="" /* Esta es la clave secreta, que se debe usar solo en el servidor */
NATS_SERVERS='nats://localhost:4222'